<form action="/recipes" method="POST">
    <h1>NEW RECIPE</h1>
    Name: <input type="text" name="name" >
    Ingredient: <input type="text" name="ingredients">
    Cook Time: <input type="text" name="cook_time">
    <input type="submit">
</form>